.container {
  width: 100%;
  max-width: 500px;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
}

.input_container {
  max-width: 584px;
  min-width: 300px;

  padding: 10px 10px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;

  display: flex;
  align-items: center;
  flex-grow: 1;

  svg {
    color: #9aa0a6;
    margin-right: 12px;
  }

  input {
    background-color: transparent;
    border: none;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);
    flex-grow: 1;
    font-size: 16px;
    height: 34px;

    &:focus {
      outline: none;
    }
  }
}
